.adminUpdateQuizPage__container {
    display: flex;
}

.adminUpdateQuizPage__sidebar {
    position: sticky;
    top: 0;
    flex: 0.01;
    height: 100vh;

}

.adminUpdateQuizPage__content {
    margin: 10px;
    padding: 8px;
    flex: 0.99;
}

.adminUpdateQuizPage__content--button{
    display: block;
    width: 20%;
    margin: 20px auto;
    background-color: #37B5B6;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.adminUpdateQuizPage__content--button:hover {
    border: 2px solid #37B5B6 !important;
    color: #37B5B6 !important;
    font-weight: bold !important;
}