.userQuizzesPage__container {
    display: flex;
}

.userQuizzesPage__sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.userQuizzesPage__content {
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 10px;
}

.userQuizzesPage__content--ButtonsList {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: 10px;
    justify-content: space-around;
}

.userQuizzesPage__content--Button {
    border: 1px solid grey;
    width: 100px;
    height: 35px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #37B5B6;
    margin: 0 4px;
    font-family: "Poppins", sans-serif;
}

.userQuizzesPage__content--Button:hover {
    border: 2px solid #37B5B6;
    color: #37B5B6;
    font-weight: bold;
}