.userQuestionsPage__container {
    display: flex;
}

.userQuestionsPage__sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.userQuestionsPage__content {
    width: 100%;
    height: fit-content;
    padding: 8px;
}


.userQuestionsPage__content--options {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: right;
    column-gap: 30%;
}

.userQuestionsPage__content--button {
    border: 1px solid grey;
    width: 300px;
    height: 35px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #37B5B6;
    margin: 0 4px;
}

.userQuestionsPage__content--button:hover {
    border: 2px solid #37B5B6;
    color: #37B5B6;
    font-weight: bold;
}

.userQuestionsPage__content--spinner{
    border: 1px solid grey;
    border-radius: 10px;
    border-bottom-style: inset;
    height: 150px;
    display: inline-block;
    width: 20%;
}