.quizManualPage__container {
    display: flex;
}

.quizManualPage__sidebar {
    flex: 0.01;
    position: sticky;
    top: 0;
    height: 100vh;
}

.quizManualPage__content {
    width: 80%;
    height: fit-content;
    margin: 30px;
}

.quizManualPage__content--section {
    line-height: 1px;
    margin-bottom: 28px;
}

hr{
    margin: 10px;
}

.quizManualPage__content--button {
    border: 1px solid grey;
    width: 100px;
    height: 35px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #37B5B6;
    margin: 0 4px;
}

.quizManualPage__content--button:hover {
    border: 2px solid #37B5B6;
    color: #37B5B6;
    font-weight: bold;
}